# IntelliJ
.idea/
*.iml

# Environment Variables
backend/.env
frontend/.env
frontendnew/.env
*.env

# Dependencies
backend/node_modules/
frontend/node_modules/
frontendnew/node_modules/
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build
dist
dist-ssr
*.local

# Editor / OS
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?